    
#color1{
    color: #FFCE1B;
    padding-left: 1%;
    
}
#text1{
    color: #FFCE1B;
}
#abtus-btn{
    background-color: #64703E;
    color: white;
}
#serv-btn{
    color: #FFCE1B;
    fill: none;
    border: 1px solid #F1F1F3;
}

spans,h1,h2,h4,h5,h6 {
    font-family: "Be Vietnam Pro", serif;
    font-style: normal;
}
#arr-btn{
    align-self: flex-end;
    /* height: ; */
    
}
#serv-btns{
    background-color: #64703E;
    color: white;
    
}

