    .col-sm:hover {
      transform: scale(1.09);
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    #color1 {
      color: #FFCE1B;
      padding-left: 1%;

    }

    #Logostart {
      width: 50px;
    }

    #text1 {
      color: #FFCE1B;
    }

    #abtus-btn {
      background-color: #64703E;
      color: white;
    }

    #serv-btn {
      color: #FFCE1B;
      fill: none;
      border: 1px solid #F1F1F3;
    }

    spans,
    h1,
    h2,
    h4,
    h5,
    h6 {
      font-family: "Be Vietnam Pro", serif;
      font-style: normal;
    }

    #arr-btn {
      align-self: flex-end;
      /* height: ; */

    }

    #serv-btns {
      background-color: #64703E;
      color: white;

    }

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    .video-player {
      position: absolute;
      top: 0;
      left: 12%;
      width: 75%;
      height: 100%;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.6);
      border: none;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    @media only screen and (max-width: 320px) {
      #Logostart {
        max-width: 50px;
        min-width: 10px;
        width: 30px;
      }

      .text-center {
        font-size: medium;
      }

      #text1 {
        font-size: small;
      }

      #Unlock {
        font-size: smaller;
      }

      #custom-video {
        width: 105vw;
      }

      .video-player {
        position: absolute;
        top: 0;
        left: 0%;
        width: 75%;
        height: 100%;
        padding-bottom: 30px;
      }

      .fw-semibold {
        font-size: 30px;
      }

      .col-sm-12 {
        font-size: smaller;
      }

      .col-sm-m-3-card {
        width: fit-content;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      }

      .col-sm:hover {
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      }

    }