#lvlprogress {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 4%;
}

#xpbar {
    width: 90%;
}

#space {
    padding-top: 0%;
    padding-left: 55%
}

.overflow-x-auto {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: hide;
    -ms-overflow-style: none;
}

.overflow-x-auto::-webkit-scrollbar {
    height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-track {
    background: transparent;
}

@media(max-width:768px) {
    #xpbar {
        width: 90%;
    }

}