#exit-btn {
    cursor: pointer;
  }
  
  #bg-1 {
    font-size: 1rem;
    flex-wrap: wrap;
    background-color: #FFCE1B;
    border-radius: 10px;
    padding: 0.5rem;
    justify-content: center;
  }
  
  #question-card {
    font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  }
  
  #choice-btn {
    font-size: 1rem;
    background-color: #FFCE1B;
    color: black;
    font-size: 1rem;
    padding: 10px;
  }

  .btn-success {
    background-color: #28a745 !important;
    color: white;
  }

  .btn-danger {
    background-color: #dc3545 !important;
    color: white;
  }
  
  .btn-secondary {
    background-color: #6c757d !important;
    color: white;
  }


  
  @media (max-width: 576px) {
    #bg-1 {
      font-size: 0.9rem;
    }
  
    #question-card {
      font-size: 1rem;
    }
  
    #choices-container button {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
    }
  }