.overflow-x-auto {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: hide;
  -ms-overflow-style: none;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

#add-deck,
#add-topic {
  background-color: white;
  border-color: #d3d3d3;
  border-width: thin;
}

#search {
  border: 1px;
}


.modal-backdrop-deck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-backdrop-topic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.deck-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 4.5em;
}