.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

[data-theme='light'] {
  --body-background: white;
}

[data-theme='dark'] {
  --body-background: black;
}

/* Light mode (default) */
body[data-theme="light"] {
  background-color: white;
  color: black;
}

/* Dark mode */
body[data-theme="dark"] {
  background-color: #121212;
  color: white;
}

/* Adjust switch slider for dark mode */
.switch input:checked + .slider {
  background-color: #2196F3;
}




.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#leftside {
  border-right: 1px #B3B4B6 solid;
}

#gen-btn {
  background-color: #D9D9D9;
  border-radius: 0px;
}

.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(3px);
  transition: background-color 0.3s ease;
  z-index: 1000; 
}


[data-theme="light"] .modal-backdrop {
  background-color: rgba(255, 255, 255, 0.4);
}

.modal-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}


