#header {
    background-color: #33592A;
    width: 96vw;
    display: flex;
   justify-self: center;
   border: none;
   border-radius: 7px;
   margin-top: 1vh;
    
}

#Tagline {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.7vh;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1vh;
}
a {
    padding: 1vw;
}



