#title{
    font-size: 2em;
    font-weight: 450;
    margin: 0 10px;
    padding: 0;
    text-align: center;
    color: #000;
}

#flow{
    width: 100%;
    height: 70vh;
}

.mindflow-container {
    display: flex;
    align-items: center;
}
  
