:root {
    --body-background: rgb(255, 255, 255);
    --text-color: #333;
    --primary-color: #2196F3;
    --edit-btn-bg: #f4a30d;
    --edit-btn-hover: #e69500;
}

[data-theme='dark'] {
    --body-background: black;
    --text-color: white;
}

.settings-container {
    background-color: var(--body-background);
    color: var(--text-color);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-icon {

    border-radius: 50%;
    background: #ccc;
    padding: 15px;
}

.profile-icon.clickable {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.info-container {
    margin-top: 20px;
}

.info-row {
    padding: 10px 0;
}

.field-value {
    color: #888;
    flex-grow: 1;
    margin-left: 10px;
}

.edit-btn {
    background: var(--edit-btn-bg);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.edit-btn:hover {
    background: var(--edit-btn-hover);
}

.achievements-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.achievement-icon {
    color: var(--primary-color);
    transition: transform 0.3s;
}

.achievement-icon:hover {
    transform: scale(1.1);
}