#logoword {
  width: 100px;
  margin-top: 5%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
  width: 4rem;
}

.sidebar.expanded {
  width: 12rem;
}

.logo-container {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 0.4rem;

}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: #047857;
}

.logo-highlight {
  color: #f59e0b;
}

.collapse-button {
  padding: 0%;
  background: none;
  cursor: pointer;
  border: none;
}

.menu-list {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #4b5563;
}

.menu-item:hover {
  background-color: #f3f4f6;
}

.menu-item.active {
  color: #f59e0b;
}

.menu-item span {
  white-space: nowrap;
}

.content {
  margin-left: 12rem;
  padding: 0.5rem;
  transition: margin-left 0.3s ease-in-out;
  overflow-x: hidden;
}

.sidebar.collapsed+.content {
  margin-left: 4rem;
}

.user-section {
  position: fixed;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 7px;
  transition: background-color 0.3s ease;
  bottom: 7px;
}

.user-section:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.username {
  font-size: 17px;
  font-weight: 600;
}

#user-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 5rem;
  }

  .sidebar.expanded {
    width: 12rem;
  }

  .content {
    margin-left: 5rem;
  }

  .sidebar.expanded+.content {
    margin-left: 12rem;
  }

  #user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}