.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.terms-box {
  background: #fff;
  width: 80%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

.terms-box section {
  margin-bottom: 1.5rem;
  text-align: start;

}

.terms-box h2 {
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.terms-box p {
  color: #444;
  line-height: 1.6;
}

.terms-box ul {
  margin: 0.5rem 0 1rem 1.5rem;
}

.terms-box ul li {
  margin-bottom: 0.5rem;
}

/* Close button styling */
.close-btn {
  background: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.close-btn:hover {
  background: #000000;
}

/* Scrollbar styling */
.terms-box::-webkit-scrollbar {
  width: 8px;
}

.terms-box::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}