#custom-line1 {
  stroke: #5030E5;
  stroke-width: 3
}

#custom-line2 {

  stroke: #FFCE1B;
  stroke-width: 3
}

#custom-line3 {
  stroke: #65713F;
  stroke-width: 3
}

#calendar-icon {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.task-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.board-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.task-column {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.task-column h3 {
  color: #4a90e2;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.text-yellow-500 {
  color: #f7b731;
}

.text-green-500 {
  color: #6dbf4e;
}

.task-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.task-card h4 {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
}

.task-card p {
  margin: 5px 0;
  font-size: 0.95em;
}

.time-left {
  font-size: 0.85em;
  color: #888;
}

.add-task {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task:hover {
  background-color: #357ab7;
}

.done {
  color: green;
  font-weight: bold;
}

progress {
  width: 100%;
  height: 15px;
  margin-top: 5px;
}

#lvlprogress {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.icons,
.text {
  vertical-align: middle;
  display: inline-block;
}

#dot-btn {
  padding: 0%;
  margin: 0%;
  border: none;
}

/* ToDoList.css or a separate CSS file */
.modal {
  display: block;
  /* Ensure modal is visible */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* Adjust width as needed */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}